section.repository-list {
  margin: 40px;

  h1 {
    margin-bottom: 16px;
  }

  ul {
    list-style: none;

    li {
      & + li {
        // no sass o "&" referencia o proprio elemento (nesse caso margin-top só vai ser aplicado no li que tiver um li anterior)
        margin-top: 20px;
      }

      p {
        font-size: 14px;
        color: #444;
        margin-top: 8px;
      }

      a {
        display: inline-block; // basicamente é um display inline que nos permite fazer uma margin-top... etc.
        margin-top: 16px;
        text-decoration: none;
        color: #8257e6;
      }
    }
  }
}
